body { 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .row.content { background-color: #f1f1f1;}
  .click-boxes {
    width: 93px;
    height: 40px;
    border: 1px solid red;
    position: inherit;
  }
  
  .leftDetails {
    background: #1c2931;
    color: #fff;
    padding-top: 10vh;
    padding-bottom: 50px;
    height:100vh;
  }
  .leftDetails p {
    padding-left: 25px;
  }
  .leftDetails img {
    padding-right: 20px;
  }
  
  .circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #0ae86f;
    margin-top: 16px;
  }
  
  .cubicle {
      width: 100px;
      height: 100px;
      display: inline-block;
      margin-top: 11px;
      margin-right: 12px;
     
  }
  .active{
    background-color: darkred;
  }

  .leftentry{
    border-left: dotted #7e5e49;
    border-right: 7px solid #7e5e49;
    border-top: 7px solid #7e5e49;
    border-bottom: 7px solid #7e5e49;
  }

  .rightentry{
    border-right: dotted #7e5e49;
    border-left: 7px solid #7e5e49;
    border-top: 7px solid #7e5e49;
    border-bottom: 7px solid #7e5e49;
  }

  .topentry{
    border-top: dotted #7e5e49;
    border-right: 7px solid #7e5e49;
    border-left: 7px solid #7e5e49;
    border-bottom: 7px solid #7e5e49;
  }

  .bottomentry{
    border-bottom: dotted #7e5e49;
    border-right: 7px solid #7e5e49;
    border-left: 7px solid #7e5e49;
    border-top: 7px solid #7e5e49;
  }
  @media screen and (max-width: 2000px){
    .cubewidth{
        width: 33%;
        padding: 53px;
      }
  }
 
  @media screen and (max-width: 1500px){
    .cubewidth{
        width: 33%;
        padding: 30px;
      }
      hr{
        margin:10px !important;
    }
  }
  
  .blackFont{
      color:black;
  }
  
  label{
      color:white;
  }

  .bginput input{
      background: black !important;
  }

  .mainArea{
      height: 100vh;
  }