body { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.row.content { background-color: #f1f1f1;}
.click-boxes {
  width: 93px;
  height: 40px;
  border: 1px solid red;
  position: inherit;
}

.leftDetails {
  background: #1c2931;
  color: #fff;
  padding-top: 10vh;
  padding-bottom: 50px;
  height:100vh;
}
.leftDetails p {
  padding-left: 25px;
}
.leftDetails img {
  padding-right: 20px;
}


.active{
  background-color: darkred;
}

.leftentry{
  border-left: dotted #7e5e49;
  border-right: 7px solid #7e5e49;
  border-top: 7px solid #7e5e49;
  border-bottom: 7px solid #7e5e49;
}

.rightentry{
  border-right: dotted #7e5e49;
  border-left: 7px solid #7e5e49;
  border-top: 7px solid #7e5e49;
  border-bottom: 7px solid #7e5e49;
}

.topentry{
  border-top: dotted #7e5e49;
  border-right: 7px solid #7e5e49;
  border-left: 7px solid #7e5e49;
  border-bottom: 7px solid #7e5e49;
}

.bottomentry{
  border-bottom: dotted #7e5e49;
  border-right: 7px solid #7e5e49;
  border-left: 7px solid #7e5e49;
  border-top: 7px solid #7e5e49;
}
@media screen and (max-width: 2000px){
  .cubewidth{
      width: 27%;
      padding: 53px;
    }
    .circle {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #0ae86f;
      margin-top: 16px;
    }
    
    .cubicle {
        width: 100px;
        height: 100px;
        display: inline-block;
        margin-top: 11px;
        margin-right: 12px;
       
    }

    .windowLeft {
      background: skyblue;
        padding: 10px;
        border-radius: 5px;
            margin-top: 150px;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        width: 140px;
      text-align: center;
    }

    .windowRight {
      background: skyblue;
      padding: 10px;
      border-radius: 5px;
      width: 140px;
      margin-left: -36px;
      text-align: center;
      margin-top: 150px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  
    .meetingRoomRight {
      background: lightcoral;
        padding: 10px;
        border-radius: 5px;
        width: 140px;
        margin-left: -36px;
        text-align: center;
        margin-top: 150px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .meetingRoomLeft {
      background: lightcoral;
      padding: 10px;
      border-radius: 5px;
      margin-top: 150px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      width: 140px;
    text-align: center;
    }
}

@media screen and (max-width: 1500px){
  .cubewidth{
      width: 25%;
      padding: 30px;
    }
    hr{
      margin:10px !important;
  }

  .circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-top: 14px;
    position:relative;
    right:2px;
  }
  
  .cubicle {
      width: 80px;
      height: 80px;
      display: inline-block;
      margin-top: 11px;
      margin-right: 12px;
     
  }

  .windowLeft {
    background: skyblue;
    padding: 10px;
    border-radius: 5px;
    margin-top: 110px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      width: 140px;
    text-align: center;
  }

  .windowRight {
    background: skyblue;
    padding: 10px;
    border-radius: 5px;
    width: 140px;
    margin-left: -36px;
    text-align: center;
    margin-top: 110px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .meetingRoomRight {
      background: lightcoral;
      padding: 10px;
      border-radius: 5px;
      width: 140px;
      margin-left: -36px;
      text-align: center;
      margin-top: 110px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  }

  .meetingRoomLeft {
      background: lightcoral;
      padding: 10px;
      border-radius: 5px;
      margin-top: 110px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
      width: 140px;
      text-align: center;
  }
}

.blackFont{
    color:black;
}

label{
    color:white;
}

.bginput input{
    background: black !important;
}

.mainArea{
    height: 100vh;
    padding:0px !important;
    position:relative;
}

.leftAC{
  position: relative;
  left:25px;
}

.rightAC{
  position: relative;
  right:30px;
}

.ac{
    background: lightgray;
    padding: 10px;
    border-radius: 5px;
    width: 50px;
    margin: 0px 119px;
    display: inline-block;
    text-align: center;
}
.acRow{
  width:100%;
}

.meetingRoomHori{
  background: lightcoral;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  display: inline-block;
  text-align:center;
}

.meetingHori{
background: skyblue;
padding: 10px;
border-radius: 5px;
width: 100%;
display: inline-block;
text-align:center;
}

.entrance{
background: lightgray;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  width: 200px;
  left: 40%;
  text-align: center;
  margin-top:50px;
}

.bookedSeat{
background: #d32f2f;
cursor: not-allowed;
}

.availableSeat{
background: #0ae86f;
}

.trendingSeat{
  background: orange;
  }


.selectedSeat{
background: #42A5F5;
}

.topbar{
  width:100%;
  height:50px;
  position:absolute;
  top:0px;
  background:#1C2A31;
  z-index: 10;
}

.bookseatbutton{
  position: absolute;
  right: 10px;
  margin-top: 10px;
}

.field-title {
  font-size: .75rem;
  line-height: 1.25;
  color: white;
  margin-bottom: .25rem;
  font-weight: bold;
}
.backicon{
  float:left;
  margin-top:10px;
}

.style1 {padding-left: 55px;}

.popup{
  display:none;
  color: white;
  position: absolute;
  background:#070790;
  padding: 20px;
  border-radius: 10px;
  z-index: 100;
}

.legend{
  float:left;
}

.legendText{
  margin:15px 10px 0 5px;
}