.height { 
        height: 100%; 
        margin: 0; 
} 
.bg { 
        background-image: url("https://www.webfx.com/blog/images/assets/cdn.sixrevisions.com/0431-04_responsive_bg_example_02resto.jpg"); 
        height: 500px; 
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover; 
}

.trendsbtn{
        padding: 5px;
        border: 1px solid #d3dee3;
        width: 100px;
        text-align: center;
        border-radius: 5px;
}

.btn{
    background: black;
    color: white;
    border-radius: 19px;
    padding: 5px 10px;
    text-align:center;
    width:120px;
}